<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		.error {
			color:red;
			display: block;
		}
		.error-space {
			display:block;
			height: 20px;
		}
	</style>
</head>
<body>
	<form th:object="${movie}" th:action="@{/update}" method="post">
    <input type="hidden" th:field="*{id}" />
    
    		<label for="movieName">Name</label>
			<input type="text" id="movieName" th:field="*{movieName}"/>
			
			<label for="releaseYear">Year</label>
			<input type="text" id="releaseYear" th:field="*{releaseYear}"/>
			
			<label for="director">Director</label>
			<input type="text" id="director" th:field="*{director}"/>
			
			<label for="catlist">Category</label>
			 <select id="catlist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
			</select>
			
			<label for="rating">IMDB</label>
			<input type="text" id="rating" th:field="*{rating}" />
    
    		<input type="submit" value="Save Changes" />
    		<br />
    		
    		<!-- Error messages -->
    		
    		<span th:if="${#fields.hasErrors('movieName')}" th:errors="*{movieName}" class="error"></span>
			<span th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}" class="error"></span>
			<span th:if="${#fields.hasErrors('director')}" th:errors="*{director}" class="error"></span>
			<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="error"></span>
</form>

</body>
</html>