<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: common-head}">
    <title>Movie page</title>
</head>
<body>
    <div class="w-75 p-3">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Welcome to the movie page</h1>
            <div class="d-flex align-items-center">
                <a th:href="@{/adduser}" class="btn btn-outline-primary mr-2" sec:authorize="hasAuthority('ADMIN')">Add User</a>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-outline-secondary" value="Logout" />
                </form>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Category</th>
                    <th><i class="bi bi-star-fill" style="color:yellow;"></i>IMDb</th>
                    <th sec:authorize="hasAuthority('ADMIN')"></th>
                    <th sec:authorize="hasAuthority('ADMIN')"></th>
                </tr>
            </thead>
            <tr th:each="movie: ${movies}">
                <td th:text="${movie.movieName}"></td>
                <td th:text="${movie.releaseYear}"></td>
                <td><a th:href="@{'/director/' + ${movie.director}}" th:text="${movie.director}"></a></td>
                <td th:text="${movie.category.name}"></td>
                <td th:text="${movie.rating}"></td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <button type="button" class="btn btn-info">
                        <a th:href="@{'/edit/' + ${movie.id}}" style="color: white; text-decoration: none;">Edit</a>
                    </button>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <button type="button" class="btn btn-danger" data-target="#deleteModal" data-toggle="modal" th:onclick="'setMovieId(' + ${movie.id} + ')' ">Delete</button>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-primary btn-lg" sec:authorize="hasAuthority('ADMIN')">
            <a href="/addmovie" style="color: white; text-decoration: none;">Add movie</a>
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete movie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <form th:action="@{/delete}" method="post" id="deleteForm">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <input type="hidden" name="id" id="id" value=""/>
                        <button type="submit" class="btn btn-danger">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setMovieId(movieId) {
            document.getElementById("id").value = movieId;
        }
    </script>
</body>
</html>
